body {
  font-family: helvetica, arial, sans-serif;
  color: #ffffff;
  margin: 2em;
  background-color: #000000;
}

h1 {
  font-style: italic;
  color: #ffffff;
}

p, div {
  font-family: palatino, serif;
}

canvas {
  border: 1px solid #ffffff;
}
