h1 {
  font-style: palatino;
  color: #ffffff;
}

body {
  font-family: palatino;
  color: #ffffff;
  margin: 2em;
  background-color: #000000;
}

a {
  color: pink;
}
p, div {
  font-family: palatino, serif;
}

canvas {
  border: 1px solid #ffffff;
}
